body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: #00B7FF;
}

header {
    background: #e6e6e6;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-user a {
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
    color: #777;
    font-weight: bold;
    font-size: 16px;
}

.top-menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-menu li {
}

.top-menu li a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: #333;
}
.top-menu li a:hover{
    background: #d6d6d6;
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.input-container {
    margin-bottom: 15px;
}

.input-container input[type=text],
.input-container input[type=password] {
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button-container input[type=submit]{
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}