<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username"><br>
    <input type="text" placeholder="firstName" name="firstName"><br>
    <input type="text" placeholder="lastName" name="lastName"><br>
    <input type="password" placeholder="password" name="password"><br>
    <input type="submit">
</form>
