<div class="user">
    <h2>{{fullName}}</h2>
    {{#if error}}
        <h3>Error!</h3>
    {{/if}}
    <ul>
        {{#each achievements}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
