<form method="post" action="/users" class="user-form">
    <input type="hidden" name="id" value="{{id}}" />
    <div class="input-container">
        <input type="text" name="firstName" placeholder="Имя" value="{{firstName}}" />
    </div>
    <div class="input-container">
        <input type="text" name="lastName" placeholder="Фамилия" value="{{lastName}}" />
    </div>
    <div class="input-container">
        <input type="text" name="email" placeholder="email" value="{{email}}"  />
    </div>
    <div class="button-container">
        <input type="submit" value="Отправить" />
    </div>
</form>